/* Styling the body of the result pages, including result list and result selection */
.body-styling {
  font-family: sans-serif;
  margin: 0;
  height: inherit;
  display: flex;
  flex-direction: column;
}

/* border box sizing for evberything */
* {
  box-sizing: border-box;
}

/* divs inside main are flexboxes */
main > div {
  display: flex;
  height: 100%;
}

/* Giving main flex 1 */
main {
  flex: 1;
}

/* Setting overall font-size and height for html file */
html {
  height: 100%;
  font-size: 20px;
}

/* overall behavior of the result selection page (on larger screens its the right panel) */
.result-selection {
  flex: 1;
  background-color: rgba(241, 241, 241, 0.519);
  overflow: scroll;
  height: 100vh;
}


/* overall behavior of the result list page (on larger screens its the left panel) */
.result-list {
  flex-basis: 500px;
  box-shadow: 5px 0px 10px  rgba(120, 120, 120, 0.197);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: scroll;
  height: 100vh;
}


/* adding padding to both panels */
.result-list, .result-selection {
  padding: 1em;
}


/* flexbox container for the result cards */
.result-cards-container {
  display: flex;
  flex-direction: column;
}

/* making each card a flexbox */
.result-card {
  display: flex;
  align-items: center;
}

/* adjusting font size for result card's heading */
.result-card h2 {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

/* styling the result card's image */
.result-imgs {
  width: 7.5rem;
  height: 7.5rem;
  margin: 0 20px;
  border-radius: 5px;
  box-shadow: 6px 6px #4966bc;
}

/* styling the result card's description */
.result-desc {
  padding-right: 15px;
  font-size: .9rem;
}

/* styling the result card's stars (aka rating) */
.result-rating {
  color: #FFBF46;
  font-size: .9rem;
}

/* styling the result card's body which contains the title/heading, rating/stars, and description */
.result-body {
  display: flex;
  flex-direction: column;
}

/* making the tags container a flexbox */
.result-tags {
  display: flex;
  flex-wrap: wrap;
}

/* styling the result card's tags */
.result-tags-items {
  padding: 5px 10px;
  background-color: #456ad7;
  margin: 0px 3px;
  color: white;
  border-radius: 5px;
  font-size: .7em;
  margin-bottom: 10px;
}

/* give each card a box shadow on hover */
.result-card:hover {
  box-shadow: 0px 0px 10px  rgba(120, 120, 120, 0.319);
  border-radius: 5px;
  cursor: pointer;
}

/* styling the result selection's title */
.result-selection h1 {
  overflow: hidden;
  text-align: center;
  font-size: 2rem;
  background-image: linear-gradient(#cecece79 0 0);
  background-position: bottom center;
  background-size: 80% 2px;
  background-repeat: no-repeat;
  padding-bottom: 5px;
}

/* styling the result selection's image */
.result-selection-img {
  width: 16.5em;
  height: 16.5em;
  border-radius: 10px;
  box-shadow: 0px 0px 10px  rgba(120, 120, 120, 0.532);
}

/* styling the result selection's image */
.result-selection-img-container {
  position: relative;
  margin: 0px 10px;
}

/* styling the buttons on result selection page */
.res-sel-btn {
  border: none;
  border-radius: 5px;
  padding: 8px 15px 8px 15px;
  background-color: #4966bc;
  color: white;
  margin-right: 3px;
  font-size: .6rem;
  cursor: pointer;
  margin-top: 2px;
  margin-bottom: 2px;
}

/* styling the buttons on result selection page when hovered to darken in color */
.res-sel-btn:hover {
  background-color: #3f59a4;
  transition: all 0.6s ease;
}

/* styling the "see photos" button specifically to look a bit more transparent than others */
.result-selection-img-container > a > .res-sel-btn {
  position: absolute;
  background-color: #4966bcb3;
  bottom: 10px;
  left: 10px;
}

/* styling the "see photos" button specifically to darken to a diff color on hover */
.result-selection-img-container > a > .res-sel-btn:hover {
  background-color: #4966bc;
}

/* giving buttons a transparent look with only a border */
.clear-btn {
  border: solid;
  border-width: 2px;
  background-color: transparent;
  border-color: #4966bc;
  color: #4966bc;
}

/* on hover of clear buttons, darken background */
.clear-btn:hover {
  background-color: #4966bc32;
}

/* making the image and ratings container a flexbox */
.res-sel-img-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* styling the star rating to be inside of image */
.result-selection-img-container > .result-rating {
  position: absolute;
  bottom: 10px;
  left: 55%;
  background-color: rgba(167, 167, 167, 0.405);
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 1em;
}

/* making divs inside result-selection a flexbox */
.result-selection > div {
  display: flex;
}

/* styling the description */
.res-sel-desc {
  font-size: 1rem;
  margin-top: 0;
}

/* making the description and bookmark container a flexbox */
.desc-bookmark-container {
  display: flex;
}

/* styling the bookmark icon */
.fa-regular.fa-bookmark {
  font-size: 1.8rem;
  margin: 4px;
  color: #FFBF46;
  -webkit-text-stroke: 1px white;
}

/* adjusting the selection's information (description, and buttons) to where they need to be */
.res-sel-info {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* flex-basis for the review panel */
.reviews {
  flex-basis: 650px;
}

/* adjusting font size for review paragraph */
.review-body p {
  font-size: .9rem;
}

/* flex-basis for the hours panel */
.hours {
  flex: 0 1 10rem;
}

/* removing bulletpoints and margins and padding from hour's list */
.hours ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: .9rem;
}

/* adjusting font-size for hours heading */
.hours h2 {
  font-size: 1rem;
}

/* flexbox for nav-back to adjust children into place */
.nav-back {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

/* making sure the anchor tag remains black */
.nav-back:visited, .nav-back:active {
  color: black;
}

/* styling back arrow */
.fa-chevron-left {
  margin-right: 10px;
}

/* styling review profile images */
.profile-img {
  border-radius: 50%;
  height: 6.5rem;
  margin-right: 10px;
}

/* making profile card header a flexbox */
.card-header {
  display: flex;
}

/* adjusting margins for review's profile's name */
.profile-name {
  margin-bottom: 2px;
}

/* styling review's profile's time aka date posted */
.card-header time {
  font-size: .75rem;
  color: rgb(108, 108, 108);
}

/* styling the review cards */
.review-cards {
  padding: 0px 15px;
}

/* styling the images that are added for each review */
.review-imgs > img {
  width: 7rem;
  height: 7rem;
  border-radius: 5px;
}

/* styling photo page's title/heading */
.title {
  display: flex;
  align-items: center;
  padding: 5px 50px;
  box-shadow: 0px 5px 10px  rgba(120, 120, 120, 0.197);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* styling photo page's back arrow */
.title .fa-chevron-left {
  font-size: 40px;
}

/* making the photo page's flex direction be column wise */
main > .photo-page {
  flex-direction: column;
}

/* styling the photo container to hold photos in a grid manner */
.photos-container {
  padding: 10px 70px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(241, 241, 241, 0.519);
  flex: 1;
  align-content: flex-start;
}

/* styling the images themselves */
.photos-container img {
  max-width: 250px;
  max-height: 250px;
  margin: 5px 5px;
  border-radius: 5px;
}

/* for during smaller screens to make either result list or result selection panel the entire screen */
.flex-auto {
  flex: auto;
}

/* for during smaller screens to hide either result list or result selection panel */
.hidden {
  display: none;
}

/* Sets a max width for the screen */
@media screen and (max-width: 1200px){
  /* adjusting font size */
  html {
    font-size: 18px;
  }

  /* adjuting display img of result selection */
  .result-selection-img {
    width: 10rem;
    height: 10rem;
  }

  /* adjusting star rating size in result selection page */
  .result-selection-img-container > .result-rating {
    left: 55%;
    font-size: .55em;
  }

  /* adjusting padding for photo container in photo page */
  .photos-container {
    padding: 10px 60px;
  }

  /* adjusting img size for photos in photo page */
  .photos-container img {
    max-width: 180px;
    max-height: 180px;
  }

}

/* Sets a max width for the screen */
@media screen and (max-width: 900px){
  /* adjusting font size */
  html {
    font-size: 16px;
  }

  /* adjusting img size for photos in photo page */
  .photos-container img {
    max-width: 200px;
    max-height: 200px;
  }

}

/* Sets a max width for the screen */
@media screen and (max-width: 600px){
  /* adjusting font size */
  html {
    font-size: 14px;
  }

  /* adjuting display img of result selection */
  .result-selection-img {
    width: 12rem;
    height: 12rem;
  }

  /* adjusting star rating size in result selection page */
  .result-selection-img-container > .result-rating {
    left: 55%;
    font-size: .6em;
  }

  /* adjusting basis for hours panel*/
  .hours {
    flex: 0 1 15rem;
  }

  /* adjusting button padding */
  .res-sel-btn  {
    padding: 6px 10px;
  }

  /* adjusting padding for photo container in photo page */
  .photos-container {
    padding: 10px 30px;
  }

  /* adjusting img size for photos in photo page */
  .photos-container img {
    max-width: 140px;
    max-height: 140px;
  }

}