body {
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  margin: 0;
  height: inherit;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

main > div {
  display: flex;
  height: 100%;
}

main {
  flex: 1;
}

html {
  height: 100%;
}

.result-selection-big {
  flex: 1;
  background-color: rgba(241, 241, 241, 0.519);
  overflow: scroll;
  height: 100vh;
}

.result-list {
  flex-basis: 500px;
  /* background-color: #d5d8fc9f; */
  box-shadow: 5px 0px 10px  rgba(120, 120, 120, 0.197);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: scroll;
  height: 100vh;
}

.result-list, .result-selection-big {
  padding: 1em;
}

.result-cards-container {
  display: flex;
  flex-direction: column;
}

.result-card {
  display: flex;
  align-items: center;
}

.result-imgs {
  width: 130px;
  height: 130px;
  margin: 0 20px;
  border-radius: 5px;
  box-shadow: 6px 6px #4966bc;
}

.result-desc {
  padding-right: 15px;
}

.result-rating {
  color: #FFBF46;
}

.result-body {
  display: flex;
  flex-direction: column;
}

.result-tags {
  display: flex;
  flex-wrap: wrap;
}

.result-tags-items {
  padding: 5px 10px;
  background-color: #456ad7;
  margin: 0px 3px;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  margin-bottom: 10px;
}

.result-card h2 {
  margin-bottom: 5px;
}

.result-card:hover {
  box-shadow: 0px 0px 10px  rgba(120, 120, 120, 0.319);
  border-radius: 5px;
  cursor: pointer;
}

.result-selection-big h1 {
  overflow: hidden;
  text-align: center;
  font-size: 35px;
  background-image: linear-gradient(#cecece79 0 0);
  background-position: bottom center;
  background-size: 80% 2px;
  background-repeat: no-repeat;
  padding-bottom: 5px;
}

.result-selection-imgs {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px  rgba(120, 120, 120, 0.532);
}

.result-selection-img-container {
  position: relative;
  margin: 0px 10px;
}

.res-sel-btn {
  border: none;
  border-radius: 5px;
  padding: 8px 15px 8px 15px;
  background-color: #4966bc;
  color: white;
  margin-right: 3px;
  font-size: 12px;
  cursor: pointer;
  margin-top: 2px;
  margin-bottom: 2px;
}

.res-sel-btn:hover {
  background-color: #3f59a4;
  transition: all 0.6s ease;
}

.result-selection-img-container > a > .res-sel-btn {
  position: absolute;
  background-color: #4966bcb3;
  bottom: 10px;
  left: 10px;
}

.result-selection-img-container > a > .res-sel-btn:hover {
  background-color: #4966bc;
}

.res-sel-btn.clear-btn {
  border: solid;
  border-width: 2px;
  background-color: transparent;
  border-color: #4966bc;
  color: #4966bc;
}

.res-sel-btn.clear-btn:hover {
  background-color: #4966bc32;
}

.result-selection-img-container > .result-rating {
  position: absolute;
  bottom: 10px;
  left: 160px;
  background-color: rgba(167, 167, 167, 0.405);
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 18px;
}

.result-selection-big > div {
  display: flex;
}

.res-sel-desc {
  font-size: 18px;
  margin-top: 0;
}

.res-sel-img-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desc-bookmark-container {
  display: flex;
}

.fa-regular.fa-bookmark {
  font-size: 30px;
  margin: 4px;
  color: #FFBF46;
  -webkit-text-stroke: 1px white;
}

.fa-regular.fa-bookmark:hover {
  font-size: 30px;
  margin: 4px;
  color: #FFBF46;
  -webkit-text-stroke: 1px white;
}

.res-sel-info {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reviews {
  flex-basis: 650px;
}

.hours {
  flex: 1 0;
}

.hours ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hours h2 {
  font-size: 18px;
}

.nav-back {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.nav-back:visited, .nav-back:active {
  color: black;
}

.fa-chevron-left {
  margin-right: 10px;
}

.profile-img {
  border-radius: 50%;
  height: 100px;
  margin-right: 10px;
}

.card-header {
  display: flex;
}

.profile-name{
  margin-bottom: 2px;
}

.card-header time {
  font-size: 14px;
  color: rgb(108, 108, 108);
}

.review-cards {
  padding: 0px 15px;
}

.review-imgs > img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.title {
  display: flex;
  align-items: center;
  padding: 5px 50px;
  box-shadow: 0px 5px 10px  rgba(120, 120, 120, 0.197);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.title .fa-chevron-left {
  font-size: 40px;
}

main > .photo-page {
  flex-direction: column;
}

.photos-container {
  padding: 10px 70px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(241, 241, 241, 0.519);
  flex: 1;
}

.photos-container img {
  max-width: 250px;
  max-height: 250px;
  margin: 5px 5px;
  border-radius: 5px;
}