* {
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Sets the style for the body of the webpage, this should be uniform across all pages */
.bodyStyle {
  background-color: rgb(255, 255, 255);
  margin: 0;
}

/* Creates a default flexbox with its items centered and in columns */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styles the text within the "I know where I want to go", "Help me decide", and "Give me a random location" buttons */
.containerText {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  text-shadow: -1px 1px 0 #999898,
        1px 1px 0 #999898,
       1px -1px 0 #999898,
       -1px -1px 0 #999898;
  background: rgb(108,218,231);
  background: linear-gradient(0deg, rgba(108,218,231,1) 3%, rgba(129,226,188,1) 67%);
  padding: 20px 10px;
  border: 2px;
  border-radius: 25px;
  margin: 1rem;
  width: 95%;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* Styles the button container */
.encase {
  background-color: rgba(246, 231, 203, 0);
  border-radius: 10px;
  width: 75%;
  margin: 50px 0px 30px 0px;
}

/* Solidifies the border when the text is hovered over */
.containerText:hover {
  border: 2px solid;
  border-color: black;
}

/* Creates a fade in animation for the buttons */
.fade-in-p {
  animation: fadeIn 6s;
}

/* Sets the opacity transition for the fade in animation */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Downsizes the See-attle logo */
.downsizeLogo {
  margin-left: 20px;
  height: 65px;
  width: 65px;
}

/* Styles the header container */
.container.header {
  /* background-color: rgb(249, 165, 134); */
  background-color: #4966bc;
  padding-top: 15px;
  padding-bottom: 15px;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
}

.item-4 {
  margin-left: auto;
  margin-right: 20px;
}

.profilePic {
  width: 5%;
  height: 65px;
  object-fit: cover;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(129,226,188,1);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.profileContainer {
  margin-left: auto;
  width: 10%; /* Set the container's width */
  height: 60px; /* Set the container's height */
  position: relative; /* Set position relative for absolute positioning of image */
  overflow: hidden; /* Hide any overflowing content */
}

.profileImg {
  max-width: 60px; /* Set the image's max-width to 100% of container */
  max-height: 60px; /* Set the image's max-height to 100% of container */
  width: auto; /* Set the image's width to auto to maintain aspect ratio */
  height: auto; /* Set the image's height to auto to maintain aspect ratio */
  aspect-ratio: 1/1;
  position: absolute; /* Set position absolute to position the image within the container */
  top: 50%; /* Set top position to center the image vertically */
  left: 50%; /* Set left position to center the image horizontally */
  transform: translate(-50%, -50%); /* Translate the image to center it */
  border-radius: 50%;
  object-fit: cover;
}

.revealDropDown:hover {
  overflow: visible;
}

/* no bullets for the lists in navbar and dropdown*/
.links li, .dropdown-menu li {
  list-style: none;
}

/* styling header */
header a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1rem;
}

/* when these specific elements are hovered or active, turn it white*/
.links a:hover, .dropdown-menu a:hover, .links li:has(> .active):hover,
.dropdown-menu li .active {
  color: white;
}

/* header itself styling*/
header {
  position: relative;
  padding: 0 0;
}

/* navbar styling */
.navbar {
  width: 100%;
  height: 80px;
  /* max-width: 1200px; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4966bc;
}

/* when links in navbar expanded are hovered, underline it*/
.links li:has(> .active) {
  text-decoration: underline;
}

/* spacing the links */
.navbar .links {
  display: flex;
  gap: 2rem;
}

/* styling the toggle btn aka hamburger */
.navbar .toggle-btn {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 10px;
  display: none;
}

/* styling the dropdown menu */
.dropdown-menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background-color: rgb(201, 166, 133);
  /* backdrop-filter: blur(10px); */
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 3;
}

/* styling the links in the dropdown menu*/
.dropdown-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* when links in dropdown are hovered change the background of div to slightly darken*/
.dropdown-menu li:hover {
  background-color: rgba(255, 255, 255, 0.112);
}

/* container for footer to be in, making it relative*/
.footer-container {
  position: relative;
}

/* Fixes the footer to the bottom of the page and makes it wide enough to fit the page */
.footerStyle {
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Styles the container of the footer by giving it a background color, padding, etc */
.container.footerDivStyle {
  background-color: rgb(30, 30, 30);
  flex-direction: row;
  gap: 20px;
  padding-bottom: 5px;
  display: flex;
}

/* Styles the text in the footer by giving it proper margins, padding, and color */
.footerDivTextStyle {
  color: white;
  margin: 3px;
  padding-top: 7px;
  padding-left: 10px;
  font-size: 14px;
}

/* Underlines the item with this class when it is hovered over */
.underline:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Creates a standard for the size of the images in the trending activities section */
.imgStyle {
  height: 300px;
  width: 400px;
}

/* Creates a container for the trending activities images  */
.img-container {
  flex-direction: row;
  overflow-x: auto;
  gap: 20px;
  width: 95%;
  border-radius: 10px;
}

/* Style for centered h1 */
.h1Style {
  text-align: center;
  margin-top: 30px;
}

/* Styles the container for the trending activity images by giving it a shadow, rounded corners, and other stylings */
.imgContainerStyle {
  background-color: white;
  padding: 10px;
  width: 60vw;
  margin: auto;
  margin-bottom: 75px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
              rgba(0, 0, 0, 0.12) 0px -12px 30px,
              rgba(0, 0, 0, 0.12) 0px 4px 6px,
              rgba(0, 0, 0, 0.17) 0px 12px 13px,
              rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px;
  border-style: solid;
}

/* Specifies the width of the scroll bar contained within the image container */
.img-container::-webkit-scrollbar {
  width: 15px;
  width: 15px;
}

/* Gives rounded corners and a background to scroll bar track contained within the image container */
.img-container::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #DFE9EB;
}

/* Specifies the background color of the scroll bar track when it is hovered over */
.img-container::-webkit-scrollbar-track:hover {
  background-color: #DFE9EB;
}

/* Specifies the background color of the scroll bar track when it is in the active status */
.img-container::-webkit-scrollbar-track:active {
  background-color: #DFE9EB;
}

/* Specifies the color, radius, and border of the scroll thumb */
.img-container::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: rgb(129,226,188);
  border: 3px solid #DFE9EB;
}

/* Specifies the background color of the scroll bar thumb when it is hovered over */
.img-container::-webkit-scrollbar-thumb:hover {
  background-color: rgb(129,226,188);
}

/* Specifies the background color of the scroll bar thumb when it is in the active status */
.img-container::-webkit-scrollbar-thumb:active {
  background-color: rgb(129,226,188);
}

/* removes the underline (and all other text decorations) from a */
a {
  text-decoration: none;
}

/* Fades out the background when filter page appears  */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

/* Fades the popup onto the screen */
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 80%;
  height: 75%;
  position: relative;
  transition: all 5s ease-in-out;
}

/* Specifies the heading font for the popup */
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

/* Specifies the style and location of the exit button in the popup menu */
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

/* Specifies the color of the exit button on the popup menu when it is hovered over */
.popup .close:hover {
  color: rgba(129,226,188,1);
}

/* Sets a max height for the content in the popup and otherwise it overflows */
.popup .content {
  max-height: 30%;
  overflow: auto;
}

/* Sets a max width for the screen */
@media screen and (max-width: 700px){
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}

nav {
  background-color: rgb(207, 178, 160);
  border-radius: 10px;
  margin-top: 63px;
  margin-right: 35px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  position: relative;
}

nav a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

.topElement {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.bottomElement {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

nav ul ul {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  padding: 0;
  margin: 0;
  display: none;
}

nav ul li:hover > ul {
  display: block;
}

nav ul ul li {
  float: none;
  width: 100%;
}

nav ul ul a:hover {
  background-color: rgb(224, 199, 183);
}

nav li:hover > a {
  background-color: rgb(224, 199, 183)
}


/* Login page css -Kaecy */

/* style for login page body */
.login-body {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/58/Seattle_Center_as_night_falls.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

/* body style for add-place and saved-place page, which will heve no margin, padding, and bg img. */
.add-place-body, .saved-place-body {
  margin: 0;
  padding: 0;
}

/* style for main div content of login, create account, and pw change page. */
.login-container, .account-container, .pw-container, .add-place-container, .survey-container , .feedback-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

/* basic styling for form boxes of pages */
.login-box, .account-box, .pw-find-form, .add-place-form {
  width: 35%;
  height: auto;
  background-color: white;
  color: black;
  padding: 30px 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.survey-box, .feedback-box {
  width: 75%;
  height: 600px ;
  overflow: scroll;
  background-color: white;
  color: black;
  padding: 30px 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.survey-question {
  width: auto;
}

/* Readjust the icon size */
.header img {
  width: 80px;
  height: 80px;
}

/* style for heading across all pages*/
h1 {
  margin-bottom: 20px;
  padding: 10px;
  text-align: left;
  font-size: 28px;
}

/* style for input labels across all pages*/

label {
	margin-top: 20px;
  text-align: left;
}

/* shared styling for all inputs in forms across the pages */
input[type="text"],
input[type="password"],
input[type="text"],
textarea,
input[type="email"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 20px;
}

fieldset:first-of-type {
  margin-bottom: 30px;
}

/* style for submit buttons of forms */
button[type="submit"], .feedback-submit {
	color: white;
  background: #4966bc;
  padding: 15px 20px;
  margin: 20px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 20px;
  margin-top: 20px;
}

/* style for hover action over the submit buttons */
.login-button:hover, .create-account:hover, .reset-pw:hover, button[type="submit"]:hover {
  background: rgb(108,218,231);
  background: linear-gradient(0deg, rgba(108,218,231,1) 3%, rgba(129,226,188,1) 67%);
}

/* style for pragraphs in certain pages' form */
.login-box p, .add-place-form p, .pw-find-form p, .survey-box p {
  text-decoration: none;
  color: grey;
  font-size: 12px;
  margin-bottom: 15px;
}

/* style for inputs in create account page and find pw page */
.account input, .find-pw input{
  width: 100%;
  padding: 12px 20px;
  margin: 20px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 20px;
}

/* style for photo input in add-place form */
.add-place-form input[type="file"]{
  display: block;
  margin-top: 15px;
  margin-left: 10px;
}

/* style for saved bookmark container */
.saved-bookmark-container {
  position: relative;
}

/* style for saved bookmark icon on the saved places page */
.saved-bookmark-container .fa-solid.fa-bookmark {
  color: #FFBF46;;
  bottom: 0;
  right: 0px;
  position: absolute;
  font-size: 1.5rem;
}

.fa-solid.fa-bars {
  font-size: 30px;
  margin: 0;
  padding: 0;
}

/* responsive screeen style for mobile */
@media(max-width: 589px) {
  /* hiding other navbar stuff thats not logo or burger */
  .navbar .links, .profileContainer {
    display: none;
  }

  /* displaying hamburger */
  .navbar .toggle-btn {
    display: block;
  }

  /* displaying dropdown-menu */
  .dropdown-menu {
    display: block;
  }

  /* giving dropdown-menu height so its actually displayed when navbar or menu itself is hovered,
  this is temporary for mock up bc no javascript */
  .navbar:hover + .dropdown-menu, .dropdown-menu:hover {
    height: 240px;
  }

  /* making footer change flex directions to column */
  .container.footerDivStyle {
    flex-direction: column;
    gap: 0px;
  }

  .login-body {
    background-image: url("https://w0.peakpx.com/wallpaper/484/491/HD-wallpaper-seattle-skyline-city-night-seattle-skyline.jpg");
  }

  .login-box, .account-box, .pw-find-form, .add-place-form {
    width: 60%;
  }

  .add-place input::placeholder {
    display: none;
  }

  .account-box, .loginbox, .pw-find-form{
    width: 50%;
  }
}

/* Styling the body of the result pages, including result list and result selection */
.body-styling {
    font-family: sans-serif;
    margin: 0;
    height: inherit;
    display: flex;
    flex-direction: column;
  }

  /* divs inside main are flexboxes */
  .page-content {
    display: flex;
    height: 100%;
  }

  /* Giving the containers flex 1 */
  .flex-1 {
    flex: 1;
  }

  /* Setting overall font-size and height for html file */
  html {
    height: 100%;
    font-size: 18px;
  }

  /* overall behavior of the result selection page (on larger screens its the right panel) */
  .result-selection {
    flex: 1;
    background-color: rgba(241, 241, 241, 0.519);
    overflow: scroll;
    height: 100vh;
  }

  /* overall behavior of the result list page (on larger screens its the left panel) */
  .result-list {
    flex-basis: 500px;
    box-shadow: 5px 0px 10px  rgba(120, 120, 120, 0.197);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: scroll;
    height: 100vh;
  }

  /* adding padding to both panels */
  .result-list, .result-selection {
    padding: 1em;
  }


  /* flexbox container for the result cards */
  .result-cards-container {
    display: flex;
    flex-direction: column;
  }

  /* making each card a flexbox */
  .result-card {
    display: flex;
    align-items: center;
  }

  /* adjusting font size for result card's heading */
  .result-card h2 {
    font-size: 1.1rem;
    margin-bottom: 5px;
  }

  /* styling the result card's image */
  .result-imgs {
    width: 7.5rem;
    height: 7.5rem;
    margin: 0 20px;
    border-radius: 5px;
    box-shadow: 6px 6px #4966bc;
  }

  /* styling the result card's description */
  .result-desc {
    padding-right: 15px;
    font-size: .9rem;
  }

  /* styling the result card's stars (aka rating) */
  .rating, .result-rating {
    color: #FFBF46;
    font-size: .9rem;
  }

  /* styling the result card's body which contains the title/heading, rating/stars, and description */
  .result-body {
    display: flex;
    flex-direction: column;
  }

  /* making the tags container a flexbox */
  .result-tags {
    display: flex;
    flex-wrap: wrap;
  }

  /* styling the result card's tags */
  .result-tags-items {
    padding: 5px 10px;
    background-color: #456ad7;
    margin: 0px 3px;
    color: white;
    border-radius: 5px;
    font-size: .7em;
    margin-bottom: 10px;
  }

  /* give each card a box shadow on hover */
  .result-card:hover {
    box-shadow: 0px 0px 10px  rgba(120, 120, 120, 0.319);
    border-radius: 5px;
    cursor: pointer;
  }

  /* styling the result selection's title */
  .result-selection h1 {
    overflow: hidden;
    text-align: center;
    font-size: 2rem;
    background-image: linear-gradient(#cecece79 0 0);
    background-position: bottom center;
    background-size: 80% 2px;
    background-repeat: no-repeat;
    padding-bottom: 5px;
  }

  /* styling the result selection's image */
  .result-selection-img {
    width: 16.5em;
    height: 16.5em;
    border-radius: 10px;
    box-shadow: 0px 0px 10px  rgba(120, 120, 120, 0.532);
  }

  /* styling the result selection's image */
  .result-selection-img-container {
    position: relative;
    margin: 0px 10px;
  }

  /* styling the buttons on result selection page */
  .res-sel-btn {
    border: none;
    border-radius: 5px;
    padding: 8px 15px 8px 15px;
    background-color: #4966bc;
    color: white;
    margin-right: 3px;
    font-size: .6rem;
    cursor: pointer;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  /* styling the buttons on result selection page when hovered to darken in color */
  .res-sel-btn:hover {
    background-color: #3f59a4;
    transition: all 0.6s ease;
  }

  /* styling the "see photos" button specifically to look a bit more transparent than others */
  .result-selection-img-container > a > .res-sel-btn {
    position: absolute;
    background-color: #4966bcb3;
    bottom: 10px;
    left: 10px;
  }

  /* styling the "see photos" button specifically to darken to a diff color on hover */
  .result-selection-img-container > a > .res-sel-btn:hover {
    background-color: #4966bc;
  }

  /* giving buttons a transparent look with only a border */
  .clear-btn {
    border: solid;
    border-width: 2px;
    background-color: transparent;
    border-color: #4966bc;
    color: #4966bc;
  }

  /* on hover of clear buttons, darken background */
  .clear-btn:hover {
    background-color: #4966bc32;
  }

  /* making the image and ratings container a flexbox */
  .res-sel-img-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* styling the star rating to be inside of image */
  .result-selection-img-container > .result-rating {
    position: absolute;
    bottom: 10px;
    left: 55%;
    background-color: rgba(167, 167, 167, 0.405);
    border-radius: 5px;
    padding: 2px 5px;
    font-size: 1em;
  }

  /* making divs inside result-selection a flexbox */
  .result-selection > div {
    display: flex;
  }

  /* styling the description */
  .res-sel-desc {
    font-size: 1rem;
    margin-top: 0;
  }

  /* making the description and bookmark container a flexbox */
  .desc-bookmark-container {
    display: flex;
  }

  /* styling the bookmark icon */
  .fa-regular.fa-bookmark{
    font-size: 1.8rem;
    margin: 4px;
    color: #FFBF46;
    -webkit-text-stroke: 1px white;
  }

  /* adjusting the selection's information (description, and buttons) to where they need to be */
  .res-sel-info {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /* flex-basis for the review panel */
  .reviews {
    flex-basis: 650px;
  }

  /* adjusting font size for review paragraph */
  .review-body p {
    font-size: .9rem;
  }

  /* flex-basis for the hours panel */
  .hours {
    flex: 0 1 10rem;
  }

  /* removing bulletpoints and margins and padding from hour's list */
  .hours ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: .9rem;
  }

  /* adjusting font-size for hours heading */
  .hours h2 {
    font-size: 1rem;
  }

  /* flexbox for nav-back to adjust children into place */
  .nav-back {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    color: black;
  }

  /* making sure the anchor tag remains black */
  .nav-back:visited, .nav-back:active, .black-links, .black-links:visited {
    color: black;
  }

  /* styling back arrow */
  .fa-chevron-left {
    margin-right: 10px;
  }

  /* styling review profile images */
  .profile-img {
    border-radius: 50%;
    height: 6.5rem;
    margin-right: 10px;
  }

  /* making profile card header a flexbox */
  .card-header {
    display: flex;
  }

  /* adjusting margins for review's profile's name */
  .profile-name {
    margin-bottom: 2px;
  }

  /* styling review's profile's time aka date posted */
  .card-header time {
    font-size: .75rem;
    color: rgb(108, 108, 108);
  }

  /* styling the review cards */
  .review-cards {
    padding: 0px 15px;
  }

  /* styling the images that are added for each review */
  .review-imgs > img {
    width: 7rem;
    height: 7rem;
    border-radius: 5px;
  }

  /* styling photo page's title/heading */
  .title {
    display: flex;
    align-items: center;
    padding: 5px 50px;
    box-shadow: 0px 5px 10px  rgba(120, 120, 120, 0.197);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  /* styling photo page's back arrow */
  .title .fa-chevron-left {
    font-size: 40px;
  }

  /* making the photo page's flex direction be column wise */
  main > .photo-page {
    flex-direction: column;
  }

  /* styling the photo container to hold photos in a grid manner */
  .photos-container {
    padding: 10px 70px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(241, 241, 241, 0.519);
    flex: 1;
    align-content: flex-start;
  }

  /* styling the images themselves */
  .photos-container img {
    max-width: 250px;
    max-height: 250px;
    margin: 5px 5px;
    border-radius: 5px;
  }

  /* for during smaller screens to make either result list or result selection panel the entire screen */
  .flex-auto {
    flex: auto;
  }

  /* for during smaller screens to hide either result list or result selection panel */
  .hidden {
    display: none;
  }

  /* making the reviews container a flexbox to position items */
  .review-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* adjusting textarea's border and sizing  */
  .review-container textarea {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(118, 118, 118);
    border-radius: 5px;
    margin-top: 10px;
    width: 600px;
    height: 300px;
  }

  /* adjusting review box's heading  */
  .review-box h1 {
    margin-bottom: 2px;
    font-size: 22px;
  }

  /* making the form a flexbox to position items */
  .review {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  /* styling the buttons in the review box */
  .review .res-sel-btn {
    margin-top: 10px;
    font-size: 12px;
  }

  /* hiding the input file default button  */
  input[type="file"] {
    display: none;
  }

  /* making the review buttons container a flexbox to position items  */
  .review-btns {
    display: flex;
  }

  /* Sets a max width for the screen */
  @media screen and (max-width: 1200px){
    /* adjusting font size */
    html {
      font-size: 16px;
    }

    /* adjuting display img of result selection */
    .result-selection-img {
      width: 10rem;
      height: 10rem;
    }

    /* adjusting star rating size in result selection page */
    .result-selection-img-container > .result-rating {
      left: 55%;
      font-size: .55em;
    }

    /* adjusting padding for photo container in photo page */
    .photos-container {
      padding: 10px 60px;
    }

    /* adjusting img size for photos in photo page */
    .photos-container img {
      max-width: 180px;
      max-height: 180px;
    }

  }

  /* Sets a max width for the screen */
  @media screen and (max-width: 900px){
    /* adjusting font size */
    html {
      font-size: 14px;
    }

    /* adjusting img size for photos in photo page */
    .photos-container img {
      max-width: 200px;
      max-height: 200px;
    }

    /* adjusting the textarea input box */
    .review-container textarea {
      width: 500px;
      height: 300px;
    }
  }

  /* Sets a max width for the screen */
  @media screen and (max-width: 600px){
    /* adjusting font size */
    html {
      font-size: 12px;
      width: 100%;
    }

    /* adjuting display img of result selection */
    .result-selection-img {
      width: 12rem;
      height: 12rem;
    }

    /* adjusting star rating size in result selection page */
    .result-selection-img-container > .result-rating {
      left: 55%;
      font-size: .6em;
    }

    /* adjusting basis for hours panel*/
    .hours {
      flex: 0 1 15rem;
    }

    /* adjusting button padding */
    .res-sel-btn  {
      padding: 6px 10px;
    }

    /* adjusting padding for photo container in photo page */
    .photos-container {
      padding: 10px 30px;
    }

    /* adjusting img size for photos in photo page */
    .photos-container img {
      max-width: 140px;
      max-height: 140px;
    }

    /* adjusting the textarea input box */
    .review-container textarea {
      width: 400px;
      height: 300px;
    }
  }

/* style survey questions form */
.survey-question {
  max-width: 700px;
  margin: 0 auto;
}

/* style each question container of the survey page */
.question {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

/* style each labels of the survey question */
.question label {
  font-weight: bold;
  font-size: 12px;
}

/* style the radio btn container inside the survey page */
.survey-radio-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Style the range bar container of the suvey question form */
.budget-range {
  display: flex;
  align-items: center;
}

/* style the range bar of the survey question form */
input[type="range"] {
  width: 100%;
  margin: 10px;
}


/* Style the range bar labels */
.range-labels {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 10px;
}

/* style the range bar text */
.range-labels span {
  font-size: 16px;
}