* {
    box-sizing: border-box;
}

/* Sets the style for the body of the webpage, this should be uniform across all pages */
.bodyStyle {
    background-color: rgb(255, 255, 255);
    margin: 0;
}

/* Creates a default flexbox with its items centered and in columns */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styles the text within the "I know where I want to go", "Help me decide", and "Give me a random location" buttons */
.containerText {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    text-shadow: -1px 1px 0 #999898,
				  1px 1px 0 #999898,
				 1px -1px 0 #999898,
				 -1px -1px 0 #999898;
    background: rgb(108,218,231);
    background: linear-gradient(0deg, rgba(108,218,231,1) 3%, rgba(129,226,188,1) 67%);
    padding: 20px 10px;
    border: 2px;
    border-radius: 25px;
    margin: 1rem;
    width: 95%;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* Styles the button container */
.encase {
    background-color: rgba(246, 231, 203, 0);
    border-radius: 10px;
    width: 75%;
}

/* Solidifies the border when the text is hovered over */
.containerText:hover {
    border: 2px solid;
    border-color: black;
}

/* Creates a fade in animation for the buttons */
.fade-in-p { 
    animation: fadeIn 6s; 
}

/* Sets the opacity transition for the fade in animation */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.downsizeLogo { 
    margin-left: 20px;
    height: 84px;
    width: 84px;
}

/* Styles the header container */
.container.header {
    background-color: rgb(249, 165, 134);
    padding-top: 25px;
    padding-bottom: 25px;
    flex-direction: row;
    gap: 50px;
}

.headerStyle {
    margin-bottom: 50px;
}

.h1Style {
    padding-left: 15px;
}

.footerStyle {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.container.footerDivStyle {
    background-color: rgb(30, 30, 30);
    flex-direction: row;
    gap: 20px;
    padding-bottom: 5px;
}

.footerDivTextStyle {
    color: white;
    margin: 3px;
    padding-top: 7px;
    padding-left: 10px;
}

.underline:hover {
    text-decoration: underline;
}

.imgStyle {
    height: 300px;
    width: 400px;
}

.img-container {
    flex-direction: row;
    overflow-x: auto;
    gap: 20px;
    width: 95%;
    border-radius: 10px;
    
}

.h2Style {
    text-align: center;
    margin-top: 30px;
}

.imgContainerStyle {
    background-color: white;
    padding: 10px;
    width: 60vw;
    margin: auto;
    margin-bottom: 125px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
                rgba(0, 0, 0, 0.12) 0px -12px 30px, 
                rgba(0, 0, 0, 0.12) 0px 4px 6px,
                rgba(0, 0, 0, 0.17) 0px 12px 13px, 
                rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
    border-style: solid;
}
  
.img-container::-webkit-scrollbar {
    width: 15px;
    width: 15px;
}

.img-container::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #DFE9EB;
}
  
.img-container::-webkit-scrollbar-track:hover {
    background-color: #DFE9EB;
}
  
.img-container::-webkit-scrollbar-track:active {
    background-color: #DFE9EB;
}
  
.img-container::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: rgb(129,226,188);
    border: 3px solid #DFE9EB;
}
  
.img-container::-webkit-scrollbar-thumb:hover {
    background-color: rgb(129,226,188);
}
  
.img-container::-webkit-scrollbar-thumb:active {
    background-color: rgb(129,226,188);
}
  
a {
    text-decoration: none;
}
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 80%;
    height: 75%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: rgba(129,226,188,1);
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }